@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-image: linear-gradient(to right, #b86adf, #ff6c63, #ffb147);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .bg-gr {
    background-image: linear-gradient(to right, #b86adf, #ff6c63, #ffb147);
  }

  #files[type="file"]::file-selector-button {
    color: transparent;
    background-color: transparent;
    border: none;
    width: 130px;
  }
}
/* .react-international-phone-input-container
  .react-international-phone-country-selector
  .react-international-phone-country-selector-button
  .react-international-phone-country-selector-button__button-content
  img {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: fill;
}

.react-international-phone-input-container
  .react-international-phone-country-selector
  .react-international-phone-country-selector-button
  .react-international-phone-country-selector-button__button-content
  .react-international-phone-country-selector-button__dropdown-arrow {
  border: none;
} */
/* react-international-phone-country-selector-button__dropdown-arrow */
/* #file[] {
} */

/* input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
  color: red;
} */
